<!-- Template for forgot password login-->
<!--
  @Author: Alekhya 
-->










<!-- meteorLogin page template for meteor meteor login -->
<template name="loginForgotPassword">
<div style="flex: 1;-webkit-flex: 1;-ms-flex: 1;">
<div id="innerDivAboutIplayOn" class="innerDivAboutIplayOn" style="order: 1;display:inline;">
			<div class="iplayOnDescription">
				<p style="margin-top:23%">
					<span class="about">IPlayOn</span><br>
				</p>
			</div>
		</div>
<div class="loginButtons" style="order: 2;height:35.2em;width:49%">
<p id="verificationSucess"><span class="glyphicon glyphicon-ok-sign green"></span> Verification code sent to <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{emailId}}</p>
<p style="color:rgb(179,0,0)" class="loginHeading_loginForgotPassword">Login</p>
<form id="application-loginForgotPassword">
	<div class="meteorLogin">
		<input type="text" name="emailAddress" id="userName" placeholder="Email Id" value="{{emailId}}" style="cursor:default;" readonly />  
		<div class="change">
		  <span id="change" style="cursor:pointer;">change?</span>
		</div>
		<input type="text" name="verificationCode" autocomplete="off" id="verificationCode" placeholder="Enter  a valid Verification Code" style="cursor:auto;" />
		<div class="resend">
		  <span id="resend" style="cursor:pointer;">resend?</span>
		</div>
		
		<input type="password" name="password" autocomplete="off" id="password" placeholder="Set New Password" />
		<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Retype Password" />
	</div>
	<div class="loginAndForgotText">
	  <div class="loginButton_loginForgotPassword">
		<input type="submit" id="loginButton_loginForgotPassword" value="Submit">
	  </div>
	</div>
	<div class="registerText">
		<p>
			New to IplayOn? <span class="redFont" id="goToRegister">Register</span>
		</p>
	</div>
</form>
</div>
{{> confirmOk}}
</div>
</template>


