<template name="modReg4">
  <div class="modal" id="modReg4" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-content-modReg1">
        <div class="modal-header  modal-header-modReg1" style="padding:0px!important;padding-left: 0px!important;height: 3.4em;background:0;">
          <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 0px ! important;">
            <div class="row" style="margin:0 !important;">
              <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 selecSporTRegNewHead" style="padding-left:4% !important;border-top-left-radius:5px;">
                <p class="modal-title titeofregistemodalNotActive" style="">Contact Details</p>
              </div>
              <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 selecSporTRegNewHead" style="border-top-left-radius:0px !important;">
                <p class="modal-title titeofregistemodalNotActive " >Select Sports</p>
              </div>
              <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 contRegNEwHead" style="border-top-right-radius: 5px;border-top-left-radius: 0px;">
                <p class="modal-title titeofregistemodal" style="width:100px;">Select Places</p>
              </div>
            </div>
          </div>
        </div>

          <div class="modal-body  modal-body-modReg1">
            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="padding-right:0px !important;padding-left:0px !important;margin-top:2px;height:103px!important;">
                  <div class="row no-gutter" style="">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="padding-right:0px !important;padding-left:0px !important;margin-top:0px;border-top-right-radius: 5px;border-top-left-radius: 5px;">
                      <div class="row no-gutter" style="">
                        {{#if checkInputAssociationSelectPD}}
                          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 setSearchUSer">
                           <div class="row no-gutter" style="">
                            <div class="col-md-11 col-xs-11 col-sm-11 col-lg-11" style="padding-right:0px !important;padding-left:0px !important;height:26px;margin-top:0px;">
                              <input type="text" autocomplete="off"  placeholder="Places" id="mainTag1ModReg4" value="" class="selectProjectsE" >
                            </div>
                            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px !important;padding-left:0px !important;margin-top:0px;border-right: 1px solid white;height:26px;">
                              <div class="userProjectSearchDiv">
                                <span class="glyphicon glyphicon-search userProjectSearch" style="font-size: 16px;margin-top: 2px;">
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{else}}
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 setSearchUSer">
                           <div class="row no-gutter" style="">
                            <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10" style="padding-right:0px !important;padding-left:0px !important;height:26px;margin-top:0px;">
                              <input type="text" autocomplete="off"  placeholder="Places" id="mainTag1ModReg4" value="" class="selectProjectsE" >
                            </div>
                            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px !important;padding-left:0px !important;margin-top:0px;border-right: 1px solid white;height:26px;">
                              <div class="userProjectSearchDiv">
                                <span class="glyphicon glyphicon-search userProjectSearch" style="font-size: 16px;margin-top: 2px;">
                                </span>
                              </div>
                            </div>
                            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px !important;padding-left:5px !important;margin-top:0px;height:26px;">
                              <div class="userProjectSearchDiv" >
                                <input type="checkbox" name="checkAllPlaces" id="checkAllPlaces" class="checkAllprojuser" checked>
                              </div>
                            </div>  
                          </div>
                        </div>
                        {{/if}}
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 setSearchUSer2" id="selectTag2">
                          {{#if lDomainName}}
                          {{#if checkInputAssociationSelectPD}}
                          {{#each lDomainName}} 
                          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 checkboxdivuserprofile" style="padding-right:0px !important;padding-left:0px !important;height:25px !important;" name={{this.domainName}}>
                            <div class="col-md-11 col-xs-11 col-sm-11 col-lg-11" style="padding-right:0px !important;padding-left:3px !important;height:25px !important;" name={{this.domainName}}>
                              <label class="checkBoxDivLabel" name="checkDomainName">
                                {{this.domainName}}
                              </label>
                            </div>
                            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px !important;padding-left:5px !important;height:25px !important;" name={{this.domainName}}>
                              <input value={{this._id}} type="radio" name="checkDomainName" id="{{this._id}}" class=""  style="cursor:pointer!important" checked>
                              <label name="checkDomainName" for={{this._id}} class="checkBoxDivLabelCheck">
                              </label>
                            </div>
                          </div>
                          {{/each}}                          
                          {{else}}
                          {{#each lDomainName}} 
                          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 checkboxdivuserprofile" style="padding-right:0px !important;padding-left:0px !important;height:25px !important;" name={{this.domainName}}>
                            <div class="col-md-11 col-xs-11 col-sm-11 col-lg-11" style="padding-right:0px !important;padding-left:3px !important;height:25px !important;" name={{this.domainName}}>
                              <label class="checkBoxDivLabel" name="checkDomainName">
                                {{this.domainName}}
                              </label>
                            </div>
                            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px !important;padding-left:5px !important;height:25px !important;" name={{this.domainName}}>
                              <input value={{this._id}} type="checkbox" name="checkDomainName" id="{{this._id}}" class=""  style="cursor:pointer!important" checked>
                              <label name="checkDomainName" for={{this._id}} class="checkBoxDivLabelCheck">
                              </label>
                            </div>
                          </div>
                          {{/each}}
                          {{/if}}
                          {{/if}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="padding-right:0px !important;padding-left:0px; padding-top:8px;">
                        <div class="checkAcceptTermsWithConfirm" style="margin-top:1%!important">
                            <input value=""  type="checkbox" name="checkAcceptboxTeam" id="terms" class="checkboxAccept" style="margin-left: auto; margin-right: 1%;margin-top: 4px;"/>
                             <p class="downloadAcceptTitle" style="color:grey">Accept </p>
                            <a class="downloadAcceptPdf" href="/createEvents.pdf" download target="_parent" style="margin-right: auto!important;margin-left: 1%!important;margin-top: 2px!important;">
                            <span style="color:blue">Terms & Conditions</span>
                            </a>
                        </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
              <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
                 <div class="row">
                  <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4" style="padding-right:0px !important;padding-bottom: 4px;">
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="cancel" data-dismiss="modal" style="order:1;margin:0px;padding:0px; width:100%!important; height:2.2em!important;">Cancel
                    </button>
                  </div>
                  <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4" style="padding-left:6px !important;padding-bottom: 4px;padding-right: 0px !important;">
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="previous-modReg4" data-dismiss="modal" style="order:2;margin:0px;padding:0px;width:100%!important; height:2.2em!important;">Previous
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                  </div>
                  <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4" style="padding-left:6px !important;padding-bottom: 4px;">
                    {{#if checkInputAssociationSelectPD}}
                    {{#if checkInputRegisterAssoc}}
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="next-modReg4" data-dismiss="modal" style="order:2;margin:0px;padding:0px;width:100%!important; height:2.2em!important;" >Register
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="next-modReg4" data-dismiss="modal" style="order:2;margin:0px;padding:0px;width:100%!important; height:2.2em!important;" disabled >Register
                    </button>
                    {{/if}}
                    {{else}}
                    {{#if checkInputRegister}}
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="next-modReg4" data-dismiss="modal" style="order:2;margin:0px;padding:0px;width:100%!important; height:2.2em!important;" >Register
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-default ip_button_Register_Popup" id="next-modReg4" data-dismiss="modal" style="order:2;margin:0px;padding:0px;width:100%!important; height:2.2em!important;" disabled >Register
                    </button>
                    {{/if}}
                    {{/if}}
                  </div>
                 </div>
              </div>
          </div>

        </div>
    </div>
  </div>
</template>