<template name="adminRoleAPI">
	{{#if notAdmin}}
	<div class=''>
		<p style="color:orange;font-size:12px;">You are not authorised for this URL</p>
	</div>
	{{else}}
		<div class="" style="padding: 0px 0px 0px 10px !important;">
			<div class=''>
				<p style="color:white;font-size:19px;">Admin API</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px !important;">
				<select id="adminSelectionType" style="font-size:12px;">
					<option selected disabled>Select Function</option>
          <option value="acaDetails">Academy Details</option>
          <option value="playerAcaSwap">Player Academy Map</option>
				</select>
			</div>
			<div id="adminRenderOnFunction"></div>

		</div>
	{{/if}}

  <div id = "academyModalContent"></div>
  <div id = "playerAcademyContent"></div>
  <div id = "confirmDialog"></div>
</template>

<!------------------------------------------------>

<template name="academyContent">
  {{#if Template.subscriptionsReady}}
    <div class = "row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top:10px !important">
          <table class="table table-striped tableOFCSVHTML_New">
            <thead style="">
              <tr class="headerAnalytics2">
                <th class="pAnalytics2">Sl No.</th>
                <th class="pAnalytics2">Academy</th>
                <th class="pAnalytics2">Abbreviation</th>
                <th class="pAnalytics2">Email ID</th>
                <th class="pAnalytics2">Contact Person</th>
                <th class="pAnalytics2">Edit</th>   
                <th class="pAnalytics2">Delete</th>   
              </tr>
            </thead>
            <tbody >
              {{#each acaList}}
                <tr class="headerAnalytics3" id="headerAnalytics3" style="">
                  <td class="pAnalytics2">{{getSLNUMBARticles @index}}</td>
                  <td class="pAnalytics2">{{this.clubName}}</td>
                  <td class="pAnalytics2">{{this.abbrevationAcademy}}</td>
                  <td class="pAnalytics2">{{this.emailAddress}}</td>   
                  <td class="pAnalytics2">{{this.contactPerson}}</td>                 
              
                  <td class="pAnalytics2">
                      <span class="glyphicon glyphicon-pencil" style="color:#FFA500; font-size: 18px; margin: 3px 0px 0px 0px; width:15%; transform: rotate(0deg); cursor: pointer"  id="editAcademy"></span>
                  </td>
                  <td class="pAnalytics2" id="selectedIdToEdit">
                    <span class="glyphicon glyphicon-remove" style="color:#FFA500; font-size: 18px; margin: 3px 0px 0px 0px; width:15%; transform: rotate(0deg); cursor: pointer" id="remAcademy"></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>                 
      </div>
    </div>
    {{else}}
      {{> loader}}
    {{/if}}
</template>


<template name="adminAcademyProfile">
  {{#if Template.subscriptionsReady}}
  <div class="modal" id="adminAcademyProfile" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header  modal-header-modReg1" style="padding:0px!important;padding-left: 0px!important;height: 3.4em;background:0;">
          <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding: 0px ! important;">
            <div class="row" style="margin:0 !important;">
              <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 contRegNEwHeadchangePass" style="border-top-right-radius:5px;">
                <p class="modal-title titeofregistemodal" style="">
                  Modify Academy
                </p>
              </div>
            </div>
          </div>
        </div>

          <div class="modal-body" style="min-height: 13em!important;">
            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
                  {{#each acaDetailsHeader}}

              <div class="row">
                  <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
              <p  class="labelWhoNewChangePas"  name="userSelectedForTeamP">{{this}}</p>
        </div>
                  <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7">
                   {{#if academyProfile}}
            <input  class="userName" type="text" autocomplete="off" spellcheck="off" id={{this}} value={{fetchJsonVal this academyProfile}}>

          {{else}}
            <input   class="userName" type="text" utocomplete="off" spellcheck="off"  id={{this}}>
          {{/if}}
                  </div>
               </div> 
              {{/each}}
               
              
                 
            </div>
             
          </div>
          <div class="modal-footer">
              <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class ="row">
                  <p id="teamScheduleImpMsg" class='impMsg'></p>

                </div>
                 <div class="row" style="text-align: center;">
                    <button type="button" class="ip_button_Popup_Black" id="modifyTeamSchedule"  style="order:1;margin:0px;padding:0px; height:2.2em!important;">Save
                      </button>
                  
                    <button type="button" class="ip_button_Popup_Red" id="cancel" data-dismiss="modal" style="order:2;margin:0px;padding:0px; height:2.2em!important;">Cancel
                    </button>
                 </div>
              </div>
          </div>

          
        </div>
    </div>
  </div>

  

    {{/if}}
  
</template>



<template name="playerAcademySwapContent">
  {{#if Template.subscriptionsReady}}
    <div class = "row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top:10px !important">
          <div class="row" style='margin-top:5px'>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2" style="padding-right:0px !important;padding-top:2px;">
            </div>
            <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8" style="padding-top:2px;padding-left:0px !important;">
              <input type="text" id="searchPlayer_Aca" value="rhitwickm@gmail.com" class="searchAcaInput" placeholder="Search Player Email" autocomplete="off">
            </div>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2" style="padding-right:0px !important;padding-top:2px;width:auto;">
            <input class="selectionForm_N7" id="searchPlayer" value="Search" type="button">
          </div>
           <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2" style="padding-right:0px !important;padding-top:2px;">
            </div>
          </div>  
          {{#if playerUnderAcaExists}}
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 addedAcademyDiv" style="border: 1px solid grey;margin-left: 7px;border-radius: 0px 5px 5px;margin-top: 0px;">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">_id:</span>{{playerUnderAcaExists.userId}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">affiliationId:</span>{{playerUnderAcaExists.affiliationId}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Guardian:</span>{{playerUnderAcaExists.guardianName}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Address:</span>{{playerUnderAcaExists.address}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">City:</span>{{playerUnderAcaExists.city}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">State:</span>{{getPlayerState playerUnderAcaExists.state}}-{{playerUnderAcaExists.pinCode}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                      
                        <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Email:</span>{{playerUnderAcaExists.emailAddress}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                     
                        <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Phone:</span>{{playerUnderAcaExists.phoneNumber}}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                     
                        <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Academy :</span>{{ playerUnderAcaExists.academyName}}</p>
                    </div>
                       <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 playerDetailscontent" style="color:white !important">
                     
                        <p class="playerDetailsPtag"><span style="color:white;margin-right: 3px;">Association :</span>{{ playerUnderAcaExists.associationName}}</p>
                    </div>
                   
            </div>
          {{else}}
          {{#if playerSearch}}
            <p class="playerDetailsPtag" style="font-size: 14px"><span style="color:white;margin-right: 3px;">{{playerSearch}}</span></p>
          {{/if}}

          {{/if}}     

          {{#if playerUnderAcaExists}}
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top:10px !important">
              <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3" style="padding-right:0px !important;padding-top:2px;">
                <p class="playerDetailsPtag" style="font-size: 14px"><span style="color:white;margin-right: 3px;">New Academy</span></p>
              </div>
              <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="padding-top:2px;padding-left:0px !important;">
                <select id="setAcaList" name="setAcaList" style="font-size:12px;" class="selectionForm_N6">
                  {{#if acaList}}
                    <option selected>Select </option>
                  {{#each acaList}}
                    <option  name= {{this.userId}}>{{this.clubName}} </option>
                  {{/each}}
                  {{/if}}            
                </select>
              </div>
                <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3" style="padding-right:0px !important;padding-top:2px;width:auto;">
                  <input class="selectionForm_N7" id="setAcademy" value="Set Academy" type="button">
            </div>

            </div>
           
          </div>  


          {{/if}}

      </div>
    </div>
    {{else}}
      {{> loader}}
    {{/if}}
</template>