<template name ="moveAssociation">


<br>
	<input type="text" id="taxVal" value ={{getTax}}>
	<button type="button" id ="taxEntry">Set Tax</button>
<br>
<br>
	<input type="text" id="assocVal">

<button type="button" id ="regAssocUpdate">Registration Association Update</button>
<br>

<button type="button" id ="playerGenderUpdate"> Player Gender update</button>
<br>
<button type="button" id ="otherUserGenderUpdate">Other users gender update</button>
<br>
<button type="button" id ="dobFiltersEntry">DOB Filters Entry</button>
<br>
<button type="button" id ="generateTmpAfId">Generate Temporary Affiliation ID for players</button>
<!-- 
<br>
<button type="button" id ="generateSequence">Generate Sequence</button>
<br>
<button type="button" id ="generateStrokes">Generate Strokes</button>
<br>

<br><br>
<button type="button" id="copySequence">Copy Sequence</button>
<br><br>
<br><br>
<button type="button" id="sequenceTempID">Sequence Temp ID</button>
<br><br>
<br><br>
<button type="button" id="sequenceID">Sequence ID</button>
<br><br>
<br>
<br><br>
<br><br>
<input type="text" id="getId"/>
<button type="button" id="sequenceSampleID">Sequence Sample ID</button>
<br><br>
<br>


-->
<br>
<button type="button" id="generateTE">Update Tournament Events </button>
<br>
<button type="button" id="clearCon">Clear Connection and Message </button>
<br>
<button type="button" id="adminEntryTrans">Entry Transaction </button>

<br>
<p>Player Registration Details</p>
<p id="registrationAssocMsg"></p>
<br>
<br>

<br>


<p>Player Gender Details</p>
<p id="singlePlayerMomentMsgActual"></p>
<p id="singlePlayerMomentMsgMoved"></p>
<br>
<br>
<p>Other users gender Details</p>
<p id="multiPlayerMomentMsgActual"></p>
<p id="multiPlayerMomentMsgMoved"></p>
<br>
<br>
<p>DOB Filters Entry Details</p>
<p id="dobTournMsgActual"></p>
<p id="dobTournMsgMoved"></p>
<p id="dobMsgActual"></p>
<p id="dobMsgMoved"></p>
<br>
<br>
<br>
<p>Generated Temporary Affiliation ID</p>
<p id="tmpAfIdMsgActual"></p>
<p id="tmpAfIdMsgMoved"></p>
<br>
<br>

<br>
<br>
<!--
<br>
<p>Generated Sequence</p>
<p id="SequenceMsgActual"></p>
<p id="SequenceMsgMoved"></p>
<br>
<br>

<br>
<br>
<br>
<p>Generated Strokes</p>
<p id="StrokesMsgActual"></p>
<p id="StrokesMsgMoved"></p>
<br>
<br>
-->
<br>
<br>
<br>
<p>Tournament Events</p>
<p id="generateTEresponse"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Connection Result</p>
<p id="clearConresponse"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p> Entry Transaction Result</p>
<p id="entryTransactionResponse"></p>
<!-- 
<br>
<p>Copy Sequence Result</p>
<p id="copySequenceResponse"></p>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p> Sequence Temp ID Result</p>
<p id="sequenceTempResponse"></p>
<br>
<br>

<br>

<br>
<br>
<br>
<br>
<p> Sequence Sample ID Result</p>
<p id="sequenceSampleResponse"></p>
<br>
<br>

<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<p> Sequence ID Result</p>
<p id="sequenceResponse"></p>
<br>
<br>

-->
</template>


<!--<button type="button" id ="singlePlayerMoment">Single Player Date update (moment)</button>
<br>
<button type="button" id ="multiPlayerMoment">Muti Player Date update (String)</button>
<br>
<!--<button type="button" id ="moveAssociationDB">Move Association to new DB</button><br>-->
<!--<button type="button" id ="copyUsers">Copu Users to temp DB</button><br>
<button type="button" id ="insertProjectsTour">insertProjectsTour</button><br>
<button type="button" id ="movePlayersDB">Move Players to new DB</button><br>-->
<!--<button type="button" id ="moveAcademyDB">Move Academy to new DB</button><br>-->
<!--<button type="button" id ="moveOtherUsersDB">Move Other Users to new DB</button>
<br>-->
<!--<br>-->

<!--<p>Users copied in a temporary DB</p>
<p id="copyUsersMsgActual"></p>
<p id="copyUsersMsgMoved"></p>
<br>
<p>Association moved into associationDetails DB</p>
<p id="moveAssociationMsgActual"></p>
<p id="moveAssociationMsgMoved"></p>
<br>
<p>Academy moved into academyDetails DB</p>
<p id="moveAcademyMsgActual"></p>
<p id="moveAcademyMsgMoved"></p>
<br>
<p id="movePlayersMsgActual"></p>
<p id="movePlayersMsgMoved"></p>
<br>
<p>Other Users moved into otherUsers DB</p>
<p id="moveOtherUsersMsgActual"></p>
<p id="moveOtherUsersMsgMoved"></p>-->