<template name="testAPICoach">
	{{#if notAdmin}}
		<div class=''>
			<p style="color:orange;font-size:12px;">You are not authorised for this URL</p>
		</div>
	{{else}}
		<div class="container" style="background:white;">
			<div class = "row" style='padding:10px !important'>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 selectionForm_N5" style="float:right">
		            <input type="button" class="selectionForm_N7" id="testAPI"  value="Test">
		        </div>
			</div>
			<div class = "row">		
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 selectionForm_N5">
		            <p style="color:black;">API:
		            </p>
		        </div>	
			    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:5px !important">
					<select class="" id="apiList" name="apiList" style="font-size:12px !important;height:2.5em !important"> 
					     <option selected disabled value="0">Select API</option>
					        {{#if apiList}}
					           	{{#each apiList}}
					                <option id="sportSelection" name="{{this}}">{{this}}</option>
					            {{/each}}
					        {{/if}}
					</select> 
				</div>
				
			</div>
			<div class ="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 selectionForm_N5">
		            <p style="color:black;">Input:</p>
		        </div>	
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:5px !important">
					<textarea  class="eventDescription" id="inputJson" rows="5" cols="8">
					</textarea>
				</div>
			</div>

			<div class ="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 selectionForm_N5">
		            <p style="color:black;">Sample JSON:</p>
		        </div>	
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:5px !important">
					{{#if sampleJson}}
					<textarea  readonly class="eventDescription"  rows="5" cols="8" style="color:black !important;background:white !important;border:1px solid black !important" >
						{{sampleJson}}
					</textarea>
					{{/if}}
				</div>
			</div>
			<div class ="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 selectionForm_N5">
		            <p style="color:black;">Result:</p>
		        </div>	
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:5px !important">
					{{#if resultJson}}
					<textarea  readonly class="eventDescription"  rows="5" cols="8" style="color:black !important;background:white !important;border:1px solid black !important" >
						{{resultJson}}
					</textarea>
					{{/if}}
				</div>
			</div>

		</div>
    {{/if}}
	    
</template>