#application-registerPage2{
	margin-bottom:31%;
	/**margin-top:16%;**/
	margin-left:13%;
}

#verificationSucess_registerPage2{
	margin-top:3%;
	color:green;
	font-size:11.67px;
	margin-left:5%;
	cursor:default;	
}

.label{
	border:1px solid grey;
	border-radius:5px 5px 5px 5px;
	width:44%;
	font-size:15px;
	color:grey;
	padding-left:1%;
	background-color:white;
}

.green{
	color:green;
}

.red{
	color:rgb(179,0,0);
}