<template name="alreadySubscribed">
<!-- main div of confirm pop up-->
  <div class="modal" id="alreadySubscribed">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribedText"></p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <button type="button" id="aYesButton" class="ip_button_Popup_Black" data-dismiss="modal" data-backdrop="false">OK</button>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>

<template name="sendingMailPopup">
<!-- main div of confirm pop up-->
  <div class="modal" id="sendingMailPopup">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm" style="transform: translate(0px, -76px);!important">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribedText2"></p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <button type="button" id="aYesButton2" class="ip_button_Popup_Black" data-dismiss="modal" data-backdrop="false">OK</button>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>

<template name="sendingMailPopup2">
<!-- main div of confirm pop up-->
  <div class="modal" id="sendingMailPopup2">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm" style="transform: translate(0px, -76px);!important">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribedText">Sending mail</p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <p data-dismiss="modal" data-backdrop="false">Please Wait..</p>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>

<template name="sendingMailPopup3">
<!-- main div of confirm pop up-->
  <div class="modal" id="sendingMailPopup3">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm" style="transform: translate(0px, -76px);!important">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribedText"></p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <p data-dismiss="modal" data-backdrop="false">Please Wait..</p>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>


<template name="alreadySubscribed_entryFromAca">
<!-- main div of confirm pop up-->
  <div class="modal" id="alreadySubscribed_entryFromAca">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribed_entryFromAcaText"></p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <button type="button" id="alreYes" class="ip_button_Popup_Black" data-backdrop="false">OK</button>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>


<template name="insertingPlayerModal">
<!-- main div of confirm pop up-->
  <div class="modal" id="insertingPlayerModal">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm" style="transform: translate(0px, -76px);!important">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" id="alreadySubscribedText">inserting player</p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <p data-dismiss="modal" data-backdrop="false">Please Wait..</p>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>



<template name="savingDataPopupNew">
<!-- main div of confirm pop up-->
  <div class="modal" id="savingDataPopupNew">

<!-- div is the center of the popup contains
     1. header div which contains p tag, value of p tag is geven while
     calling the modal using javascript methods.
     2. body which contains yes and no buttons
-->

      <div id="confirmCenter" class="modal-dialog alreadySubPopup-sm" style="transform: translate(0px, -76px);!important">
        <div class="alreadySubPopup">
        <div class="modal-content">
        <div class="modal-header alreadySubHeader">
              <p class="modal-title" >Please Wait..</p>
            </div>
             <div class="modal-body">
              <div class="confirmPopupContent">
                <div class="alreadySubyes">
                  <p data-dismiss="modal" data-backdrop="false" id="alreadySubscribedText_NEW" style="font-size:12px;">Please Wait..</p>
              </div>
            </div>
             </div>
      </div>
      </div>
      </div>
  </div>
</template>