<template name="downloadTemplateXXX">
 <div  class="modal" id="downloadTemplateXXX" aria-hidden="true" >
    <div class="modal-dialog downloadTemplateXXX-lg">
      <div class="modal-content">
        <div class="modal-header headerClass">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title myModalLabel " style="text-align:center;">Download Draws</h4>
        </div>

        <div class="modal-body">
             <form class="form-horizontal" role="form">
             
               <div class="form-group">
              <label class="control-label col-sm-3 customLabel">Select Event:</label>
              <div class="col-sm-9">
                <div id ="ipSelectEveDropDown">
                  {{#if selectedSportOrNot}} 
                    <select id="selectWho" class="form-control customDropDown" name="eventList">
                      {{#each sportEvents}}
                        {{#if selectedSportFromLive this.eventName}} 
                          {{computeSelectedEventDraws this.eventId this.eventName}}                     
                          <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                        {{else}}
                            <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                        {{/if}}
                    {{/each}}
                     </select>
                  {{else}} 
                    <select id="selectWhich" class="form-control customDropDown" name="eventList">
                      <option id="event_select" selected disabled>--select--</option>
                      {{#each sportEvents}}
                        <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                      {{/each}}
                    </select>
                  {{/if}}
                </div>
              </div>
            </div>
             {{#if progressBar}}
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:#337ab7 !important">
                <span class="">Please wait</span>
              </div>
            </div>
            {{/if}}
            </form>
        </div>


       
         <div class="modal-footer">
        <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 " >
              <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " >
                <p id="impMsg" class='impMsg'></p> 
              </div>

              <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 " style='text-align:center;' >
                <button type="button" class="ip_button_Popup_Black" id="downloadDraws" >Download</button>
                <button type="button" class="ip_button_Popup_Red" data-dismiss="modal">Close</button>
              </div>

              <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " > </div>               
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</template>
<!-- shalini codes ends here -->