<template name="googleDetailsVenuefortour">
        <div class="modal fade" id="googleDetailsVenue">
        <div id="googleUploadCenter" class="modal-dialog googleMapModal-sm">
            <div class="googleMapModalPopup">
            <div class="modal-content">
                <div class="modal-header sponsorUploadsHeader">
                    <p class="modal-title" id="sponsorUploadsHeader">Zoom to see the venue</p>
                </div>
                 <div class="modal-body googleUploadsBody">
            <div class="googleMapMainTitle">
                    <div class="googleMapMainDiv">
                        <div class="googleMapContentDiv ">
                            <div class="gooSer">
                                <input id="pac-input"  onfocus="this.blur()"   readonly class="controls" type="text" placeholder="Address" value="">
                                <!--<button class="clearGooSe" id="clearGooSe" type="button" >
                                <span class="glyphicon glyphicon-search">
                                  </span>
                              </button>-->
                                <!--<input class="clearGooSe" id="clearGooSes" type="button" value="$">-->
                            </div>
                           <div id="map">  </div>
                          
                        </div>
                    </div>
                </div>
                    <div class="googleUploadsContent">
                        <div class="yesSponsorUploads">
                            <button type="submit" id="googleVenueYes" class="ip_button_Popup_Black" style="margin-right:auto!important;">OK</button>
                        </div>
                    </div>
                 </div>
                                  <input id="pac-input-view1"  readonly type="text" 
                    style="background-color:none; border:none; cursor:default font-weight:normal;" onfocus="this.blur()" >
<input type="text" id="subLat" name="subLat" style="background-color:none; border:none; cursor:default;  height:0em; width:0em; font-weight:normal" onfocus="this.blur()" readonly >
         <input type="text" id="subLong" name="subLong" style="background-color:none;  height:0em; width:0em; border:none; cursor:default; font-weight:normal" onfocus="this.blur()" readonly >
         <input type="text" id="subAddress" name="subAddress" style="background-color:none;  height:0em; width:0em; border:none; cursor:default; font-weight:normal" onfocus="this.blur()" readonly >
            </div>
            </div>
        </div>
        </div>
</template>