<template name="mailOrHyperLinkOnSubscribe">
    <form id="application-mailOrHyperLinkOnSubscribe">
        <div class="modal" id="mailOrHyperLinkOnSubscribe" aria-hidden="true">
            <div id="subDomainCenter" class="modal-dialog eventAddTourModal-sm" style="width:350px !important;">
                <div class="eventAddTourPopup" style="width:350px !important;">
                    <div class="modal-content">
                        <div class="modal-header headerClass">
                            <h5 class="modal-title myModalLabel" id="myModalLabel">
                                Subscription Type</h5>
                        </div>
                        <div class="modal-body subDomainModalBody" style="padding:15px !important;height:17.5em;">
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding:0px !important;">
                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding:0px !important; border:1px solid black;border-radius:5px;height:100%;">
                                    <div class="row no-gutter">
                                        <ul style="list-style: none;margin: 0;padding: 0;padding-top: 11px;!important">
                                            <li>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="">
                                                    <input class="col-md-1 col-xs-1 col-lg-1 col-sm-1" type="radio" id="setAnysetDirect" name="setAnyset" style="height: 80%;margin-top: 2px !important;cursor:pointer;" value="directSubscribe">
                                                    <p class="col-md-11 col-xs-11 col-lg-11 col-sm-11 hyperLinkTag" id="directSubscribe">Subscribe On iPlayOn</p>
                                                </div>
                                                <ul style="list-style: none;">
                                                    <li>
                                                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="margin-top: 0px;padding-left: 0px!important; ">
                                                            <input class="col-md-1 col-xs-1 col-lg-1 col-sm-1" type="checkbox" id="setAnysetmail" name="setAnysetmail" style="height: 80%;margin-top: 2px !important;cursor:pointer;" value="HyperLink" disabled>
                                                            <p class="col-md-11 col-xs-11 col-lg-11 col-sm-11 hyperLinkTag" id="mailTOH">Mail To</p>
                                                        </div>
                                                        <ul style="list-style:none;margin: 0;padding: 0;margin-left: 20px;">
                                                            <li>
                                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="margin-top:0px;padding-left: 0px!important;">
                                                                    <p class="col-md-3 col-xs-3 col-lg-3 col-sm-3 HTTPTagsub" id="HTTPTagsub">Email:</p>
                                                                    <input type="text" id="mailTo" name="mailTo" class="col-md-9 col-xs-9 col-lg-9 col-sm-9 inputHTTP" style="
                                                                height:100%;margin-top: 0px;cursor:default;" value="{{mailAddress}}" readonly onfocus="this.blur()" />
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="margin-top: 0px;padding-left: 0px!important; ">
                                                    <input class="col-md-1 col-xs-1 col-lg-1 col-sm-1" type="radio" id="setAnysetHyper" name="setAnyset" style="height: 80%;margin-top: 2px !important;cursor:pointer;" value="HyperLink">
                                                    <p class="col-md-11 col-xs-11 col-lg-11 col-sm-11 hyperLinkTag" id="HyperLink">Redirect to Hyperlink</p>
                                                </div>
                                                <ul style="list-style:none;margin: 0;padding: 0;margin-left: 20px;">
                                                    <li>
                                                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="">
                                                            <p class="col-md-3 col-xs-3 col-lg-3 col-sm-3 HTTPTagsub" id="HTTPTagsub">HTTP:</p>
                                                            <input type="text" id="Httpcheck" name="Httpcheck" class="col-md-9 col-xs-9 col-lg-9 col-sm-9 inputHTTP" style="height:100%;margin-top: 0px;" value="" autocomplete="off" />

                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--li>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 labelByeOrWalk" style="margin-top: 0px;padding-left: 0px!important; ">
                                                    <input class="col-md-1 col-xs-1 col-lg-1 col-sm-1" type="checkbox" id="setSubscribeWithPlayersAFFId" name="setSubscribeWithPlayersAFFId" style="height: 80%;margin-top: 2px !important;cursor:pointer;" value="setSubscribeWithPlayersAFFId">
                                                    <p class="col-md-11 col-xs-11 col-lg-11 col-sm-11 hyperLinkTag" id="setSubscribeWithPlayersAFFId">Allow players only players with Affiliation Id to subscribe</p>
                                                </div>
                                            </li-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="height:4em !important;padding-left: 0px !important;padding-top: 0px !important;">
                                <p style="font-size:11px;color:red;cursor:default;margin: 0px;" id="httpSettingsPopupError"></p>
                                <p style="font-size:12px;color:green;cursor:default;" id="changePasswordSucc"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 footerDivPopupHRR" style="padding-right:0px !important;padding-bottom: 4px;padding-left: 58px !important;">
                                        <input type="button" class="ip_button_Popup_Black" id="backSubRest" value="Prev" style="margin-right: 4px !important;">
                                        <input type="submit" class="ip_button_Popup_Black" id="savebyewalkover" style="" value="Set">
                                        <button type="button" class="ip_button_Popup_Red" id="cancelbyewalkover" data-dismiss="modal" style="margin-left:3px;">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<input type="text" id="test" name="test" style="background-color:none; border:none; cursor:default font-weight:normal" onfocus="this.blur()" readonly>
                        <input type="text" id="test1" name="test1" style="background-color:none; border:none; cursor:default font-weight:normal" onfocus="this.blur()" readonly>
                        <input type="text" id="test2" name="test2" style="background-color:none; border:none; cursor:default font-weight:normal" onfocus="this.blur()" readonly>
                        <input type="text" id="test3" name="test3" style="background-color:none; border:none; cursor:default font-weight:normal" onfocus="this.blur()" readonly>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>