 <template name="printableDraws">
     <div  class="modal" id="printableDraws" aria-hidden="true" >
      <div class="modal-dialog printableDraws-lg">
        <div class="modal-content">
          <div class="modal-header headerClass">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title myModalLabel " style='text-align:center'>Print Draws</h4>
         </div>

         <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-3 customLabel">Event</label>
              <div class="col-sm-9">
                <div id ="ipSelectEveDropDown">
                  {{#if selectedSportOrNot}} 
                    {{#each printableDraws}}
                      {{#if selectedSportFromLive this}}
                        <select id="selectWho" class="form-control customDropDown" name="drawsEventList">
                          <option id="draw_event" selected disabled>--select--</option>
                          <option id="draw_event">{{this}}</option>
                          {{#each printableDraws}}
                            {{#if selectedEventC this}}

                            {{else}}
                            <option id="draw_event">{{this}}</option>
                            {{/if}}
                          {{/each}}
                        </select>
                      {{/if}}     
                    {{/each}}
                  {{else}} 
                    <select id="selectWhich" class="form-control customDropDown" name="drawsEventList">
                      <option id="draw_event" selected disabled>--select--</option>
                      {{#each printableDraws}}
                        <option id="draw_event">{{this}}</option>
                      {{/each}}
                    </select>
                  {{/if}}
                </div>
              </div>
            </div>

           {{#if progressBARHelp}}
            <div class="progress">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                Please wait..
              </div>
            </div>
            {{/if}}

             
            
          </form>
        </div>

        <div class="modal-footer">
          <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style='padding-bottom:4px;'>
            <div class ="row">
              <p id="impMsg" class='impMsg'></p> 
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 " >
                <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 " >
                  <div class="checkAcceptTerms" style="padding-left: 1px !important;height:auto!important;">
<p class="downloadAcceptTitle" style="margin-top: 1px;margin-left: 0px;color: rgb(88, 88, 88);display: flex;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                            <input value="" type="checkbox" name="checkAcceptbox" id="checkAcceptboxWithScores" checked=true class="checkboxAccept" style="order: 1;">
                                             
                                            <span style="color: rgb(0, 172, 237); font-size: 14px ! important; margin-top: 1px; cursor: default; margin-left: 5px;order: 2;" class="" aria-hidden="true">With Scores</span></p>
</div>
                </div>

                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 " style='text-align:center;' >
                  <button type="button" class="ip_button_Popup_Black" id="printDrawsBtn" style=disabled:{{progressBARHelp}}>Print</button>
                  <button type="button" class="ip_button_Popup_Red" data-dismiss="modal" style=disabled:{{progressBARHelp}}>Cancel</button>
                </div>

                <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 " > </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- shalini codes ends here -->