<template name="aboutIplayOn">
	<div class="container-fluid" style="font-size: 12px;margin:20px">
  <div class="row">
  <h3 style="color:orange; text-align:center;">iPlayOn - an initiative to promote sports!</h3>
  </div>
  <div class="row" style="color:white">
  <p class="row">Whether you are a professional sportsman, an academy, a coach, a sport event organizer, a corporate sports events organizer, a corporate player, a Gully/Nukkad sport event organizer, iPlayOn provides a platform to promote yourself or your event. </p>
  <p class="row">The iPlayOn software platform is a free, world-wide platform for organizing any sporting event anywhere in the world, of any level - right from professional tournaments, Intra and Inter School/College/University tournaments, Local Colony/Town/City tournaments, small Intra office tournaments to Inter-Office tournaments all the way upto Intra and Inter state/country tournaments. You can conduct and participate in any game be it Badminton, Volleyball, Tennis, Table Tennis, Cricket, Football, Board games, Cycling, Swimming ....</p>

  <p class="row">The iPlayOn software platform brings in unprecedented transparency and ease into sports event management system apart from -</p>
  <div class="row">
    <ul class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <li>Creating and building player database, tracking each player’s performance throughout their career</li>
      <li>Creating and tracking coaches’ contribution by linking their students’ performances </li>
      <li>Automatically building academy track record </li>
      <li>Enhancing visibility of academies and enabling for futuristic and enriching activities such as student or coach exchange programs </li>
      <li>Publishing events and event updates (leagues, tournaments and any other form of sport competition) to relevant players, coaches and academies automatically </li>
      <li>Recording, registering and managing event participations, draws, results digitally in a secure manner </li>
    </ul>
  </div>

  <p class="row" style="color:ORANGE;">iPlayOn for sport event organizers</p>
  <div class="row">
    <ul class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <li>Announce and promote your event digitally to the world </li>
      <li>Conduct closed-group or open events </li>
      <li>Invite participants </li>
      <li>Manage the event using automated, process driven software platform for registration </li>
      <li>Streamline all activities - right from managing entries to conducting matches to publishing Live results and concluding the event </li>
    </ul>
  </div>

  <p class="row" style="color:ORANGE;">iPlayOn for academies </p>
  <div class="row">
    <ul class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <li>Get updated information about each event of interest </li>
      <li>Manage entries, entry fees and communication to your students effectively </li>
      <li>Access online performance record and results of each of your students </li>
      <li>Promote your academies </li>
    </ul>
  </div>

  <p class="row" style="color:ORANGE;">iPlayOn for coaches </p>
  <div class="row">
    <ul class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <li>Track your students’ performance over a period of time </li>
      <li>Implement programs tailor-made for each student.  Have access to their performance against different players or style of players </li>
      <li>Promote your students and yourself to the world of sport </li>
    </ul>
  </div>

  <p class="row" style="color:ORANGE;">iPlayOn for players and sportsmen </p>
  <div class="row">
    <ul class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
      <li>Keep yourself informed about every upcoming event </li>
      <li>Manage your entries </li>
      <li>Study the performance of other players in different events, against different players </li>
      <li>Get live updates of different events and matches </li>
      <li>Build your profile, promote yourself!</li>
    </ul>
  </div>

  <p class="row">iPlayOn aspires to build a single platform to promote different sport.  We envision that iPlayOn will be the singular platform to host many professional tournaments and leagues, and record performance of different players and other contributors to the sport.  The information and track record on iPlayOn will help sportsmen and sport lovers with powerful analytics and trends - which can be used to strategize one’s own progress.</p>

  <p class="row">What more, iPlayOn gives all sport information on a single platform.  So, go on, promote yourself and your sport.  Get indulged, sport lovers - say <span style="color:orange; font-size:16px">iPlayOn....</span></p>

</div>
</div>
</template>