<template name="createInsertUpdateCategories">
	{{#if notAdmin}}
    <div class=''>
      <p style="color:orange;font-size:12px;">You are not authorised for this URL</p>
    </div>
    {{else}}
    <div class="container" style="background:#333; height:auto;">
    <div class="row" style="height: -webkit-fill-available;font-family: Arial, Helvetica, sans-serif;font-size: 15px;padding-right: 2%;padding-left: 2%;margin: 3px 0px 0px 2px;">
         <div class="row-same-height">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                  <div class="mainTitle">
                     <p class="title">
                        Create Categories  or Update
                     </p>
                     <input type="button" id="cancel" class="ip_button_LightGrey" style="order:2" value="Cancel">
                     <input type="button" id="savePackTtype" class="ip_button_LightGrey" style="order:1" value="Save">
                  </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="
                  margin-top: 10px;
                  ">
                  <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                     <p type="text" class="title" style="width: 100%;height: 100%;margin: 0px;padding: 0px;text-decoration: underline;" name="userSelectedForTeamP">Inserted Categories:</p>
                  </div>
                  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                     <textarea  type="text" placeholder="Article Description" autocomplete="off" spellcheck="off" style="width:100%; font-size: 12px; background: transparent none repeat scroll 0px center; color: #fff;border: 1px solid grey;border-radius: 5px;padding: 5px;" rows="5" cols="80" id="descOfArticle" disabled>{{fetchInsertedPackTypes}}</textarea>
                  </div>
               </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="
                  margin-top: 10px;
                  ">
                  <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                     <p type="text" class="title" style="width: 100%;height: 100%;margin: 0px;padding: 0px;text-decoration: underline;" name="userSelectedForTeamP">Insert New Categories:</p>
                  </div>
                  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                     <input type="text" placeholder="enter pack a name" autocomplete="off" spellcheck="off" style="width:100%; font-size: 12px; background: transparent none repeat scroll 0px center; color: #fff;border: 1px solid grey;border-radius: 5px;padding: 5px;" id="packType"/>
                  </div>
               </div>
        </div>
    </div>
    </div>
    {{/if}}
</template>


<template name="removeInsertedCategories">
	{{#if notAdmin}}
    <div class=''>
      <p style="color:orange;font-size:12px;">You are not authorised for this URL</p>
    </div>
    {{else}}
    <div class="container" style="background:#333; height:auto;">
    <div class="row" style="height: -webkit-fill-available;font-family: Arial, Helvetica, sans-serif;font-size: 15px;padding-right: 2%;padding-left: 2%;margin: 3px 0px 0px 2px;">
         <div class="row-same-height">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                  <div class="mainTitle">
                     <p class="title">
                        Remove Categories
                     </p>
                     <input type="button" id="cancel" class="ip_button_LightGrey" style="order:2" value="Cancel">
                     
                  </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="
                  margin-top: 10px;
                  ">
                  <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                     <p type="text" class="title" style="width: 100%;height: 100%;margin: 0px;padding: 0px;text-decoration: underline;" name="userSelectedForTeamP">Inserted Categories:</p>
                  </div>
                  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  	<select class="" style="width: 100%;height: 100%;margin:0px;" id="packTypes">
                  		{{#each fetchInsertedPackTypes}}
                        <option selected disabled>Select</option>
                        <option value = {{this}}>{{this}}</option>
                        {{/each}}
                     </select>
                
                  </div>
               </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="
                  margin-top: 10px;
                  ">
                  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                      <input type="button" id="removePackType" class="ip_button_LightGrey" style="order:2" value="remove">
                  </div>
               </div>
        </div>
    </div>
    </div>
    {{/if}}
</template>