.hyperLinkTag{
	margin-top:2px !important;
	font-size: 13px !important;
	font-weight: normal !important;
	color: black;
	height:100% !important;
	cursor: default;
}

.HTTPTagsub{
	margin-top:2px !important;
	font-size: 12px !important;
	font-weight: normal !important;
	color: black;
	height:2em !important;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	cursor: default;
  	padding-left: 16px !important;
}
.inputHTTP{
	border: 1px solid black;
	height: 15px;
	padding-left: 3px !important;
	font-size: 12px;
}
.footerDivPopupHRR{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left:102px !important;
}