.pAnalytics2_entryFAca2_confD {
	font-size: 11px;
	text-align: center;
	border: 1px solid #000 !important;
	background: transparent none repeat scroll 0px center !important;
	font-weight: normal !important;
	color: #000;
}