
<template name="createRRDraw">
  <div  class="modal" id="createRRDraw" aria-hidden="true" >
    <div class="modal-dialog createRRDraw-lg">
      <div class="modal-content">
        <div class="modal-header headerClass">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title myModalLabel " style='text-align:center'>Create Draw</h4>
        </div>

        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-4 customLabel">Select Event:</label>
              <div class="col-sm-8">
                <div id ="ipSelectEveDropDown">
                  {{#if selectedSportOrNot}} 
                    <select id="selectWho" class="form-control customDropDown" name="eventList">
                    {{#each sportEvents}}                     
                      {{#if selectedSportFromLive this.eventName}}                      
                        <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                      {{else}}
                        <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                      {{/if}}
                    {{/each}}
                    </select>
                  {{else}} 
                    <select id="selectWhich" class="form-control customDropDown" name="eventList">
                      <option id="event_select" selected disabled>--select--</option>
                      {{#each sportEvents}}
                        <option id="event_select" name={{this.eventId}}>{{this.eventName}}</option>
                      {{/each}}
                    </select>
                  {{/if}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4 customLabel" >Max members per group</label>
              <div class="col-sm-8"> 
                <input type="text" id="maxMembers" name="maxMembers" autocomplete="off" placeholder="">       
              </div>
            </div>


            <div class="form-group" >
              <label class="control-label col-sm-4 customLabel" for="uploadFileLabel">Upload File:</label>
              <div class="col-sm-8 customDropDown" id= 'uploadConfigurationFileRR'> 
                <input type="file" class="ip_button" value = 'Upload File' id='${multipartFilePath}' name='playersListFilesRR'  onclick="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> 
              </div>
            </div>

            <div class="form-group" style={{enableMatchFormat}}>
              <label class="control-label col-sm-4 customLabel">Match Format:</label>
              <div class="col-sm-8">
                <div id ="ipSelectEveDropDown">
                  <select id="selectWho" class="form-control customDropDown" name="matchFormatList">
                    <option selected disabled>Select MatchFormat</option>
                  {{#if matchFormatList}}         
                    {{#each matchFormatList}}                     
                      <option id="event_select" name={{this._id}}>{{this.formatName}}</option>              
                    {{/each}}                              
                  {{/if}}
                    <option id="event_select" name={{other}}>Other</option> 
                  </select>   
                </div>
              </div>
            </div>

            {{#if formatType}}
              {{> createRRTeamMatchFormat}}
            {{else}}
              {{#if fetchFormatData}}
                <div style="height: 200px !important;overflow-y:scroll;">

                <table class="table table-fixed table-striped tableOFCSVHTML_entryFAca2_backWhite tableOFCSVHTML_entryFAcatableHead" id="tblOne" style="table-layout: fixed;width:100% !important;;">
                  <thead>
                    <tr class="headerAnalytics3" id="headerAnalytics3">              
                      <td class="robin_header" style="">No</td>
                      <td class="robin_header" style="">Label</td>
                      <td class="robin_header" style="">Display</td>
                      <td class="robin_header" style="">Type</td>
                    </tr>
                  </thead>
                  <tbody style="">                
                  {{#each fetchFormatData}}
                    <tr class="headerAnalytics3" id="headerAnalytics3">                
                      <td class="robin_td">{{this.no}}</td>
                      <td class="robin_td">{{this.label}}</td>
                      <td class="robin_td">{{this.displayLabel}}</td>
                      <td class="robin_td">{{eventType this.type}}</td>                
                    </tr>
                  {{/each}}
                  </tbody>
                </table>  
                </div>            
              {{/if}}

            {{/if}}

            {{#if progressBar}}
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:#337ab7 !important">
                <span class="">Please wait</span>
              </div>
            </div>
            {{/if}}
          </form>
        </div>

        <div class="modal-footer">
          <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style='padding-bottom:4px;'>
            <div class ="row">
              <p id="impMsg" class='impMsg'></p>
              <p id="infoMsg" class='impMsg' style='color:black !important'></p> 
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 " >
                <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " >
                </div>

                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 " style='text-align:center;' >
                  <button type="button" class="ip_button_Popup_Black" id="createRoundRobinDraws">Create</button>
                  <button type="button" class="ip_button_Popup_Red" data-dismiss="modal" id="closeCreateDraw">Cancel</button>
                </div>

                <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " > </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- shalini codes ends here -->

<template name="createRRTeamMatchFormat">
  <div class="container" style="overflow-y: scroll; height:200px;">
    <div class="row">
      <p class="" style="text-align: center;font-size:12px !important">New Team Match Format</p>
    </div> 
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12">
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
        <p class="" style="font-size:12px !important">Name of the format</p>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 form-group">
        <input type="text" id="teamFormatName" name="teamFormatName" autocomplete="off" placeholder="">  
      </div>   
    </div>
    {{#if otherTeamFormatList}}
    {{#each otherTeamFormatList}}
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12" name=MatchType{{@index}} style="border-left:1px solid #FFF; border-right:1px solid #FFF">
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
        <p style="font-size:12px !important;text-align: center;">
        <span id="deleteMatch" style="font-size: 12px; transform: rotate(0deg); cursor: pointer;text-align: center;" class="glyphicon glyphicon-remove" name={{@index}}></span></p>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 robin_td">
         <p style="font-size:12px !important;text-align: center;">{{this.label}} </p> 
      </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 robin_td">
         <p style="font-size:12px !important;text-align: center;">{{this.displayLabel}}</p>
      </div>
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 robin_td">
        <p style="font-size:12px !important;text-align: center;">{{eventType this.type}}</p>       
      </div>
      
    </div>
    {{/each}}
    {{/if}}
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12">
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
        <p style="font-size:12px !important;text-align: center;"></p>
        <!--<span id="addMatch" style="font-size: 12px; transform: rotate(0deg); cursor: pointer" class="glyphicon glyphicon-plus"></span>-->

      </div>
      <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
         <input type="text" id="typeName" name="typeName" autocomplete="off" placeholder="Type Name" style="font-size: 12px;text-align: center;">  
      </div>
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
         <input type="text" id="displayTypeName" name="displayTypeName" autocomplete="off" placeholder="Display Label" style="font-size: 12px;text-align: center;">  
      </div>
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
         <select id="matchType" class="customDropDown" name="matchType" style="height: auto !important;font-size: 12px">
          <option id="event_select" selected disabled>Match Type</option>
          <option id="event_select" name=1>Singles</option>
          <option id ="event_select" name=2>Doubles</option>
        </select> 
      </div>
      
    </div>
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12">
      <button type="button" class="ip_button_Popup_Black" id="addMatch" style="width: auto">+ Add Match</button>
      <!--
      <span id="addMatch" style="font-size: 12px; transform: rotate(0deg); cursor: pointer" class="glyphicon glyphicon-plus">Add Match</span>-->
    </div>

  </div>
</template>