<template name="matchRROrder">
	{{#if Template.subscriptionsReady}}
        <div class="modal" id="matchRROrder" aria-hidden="true">
            <div id="subDomainCenter" class="modal-dialog eventAddTourModal-sm" style="">
                <div class="eventAddTourPopup" style="">
                    <div class="modal-content" style="  position: relative;display:table;overflow-y: auto;width:100%;">
                        <div class="modal-header loginHeaderIplayon" style="background-color: #000;">
                            <p class="modal-title loginHeadeIplayonPTag" style="">Order Of Play
                            </p>
                            <span style="margin: -6px 0px 0px; font-size: 22px; color: white; cursor: pointer;" id="closeRRScorePopUp">x</span>
                        </div>
                        <div class="modal-body subDomainModalBody" style="padding:15px !important;min-height:5em;padding: 15px !important;min-height: 5em;height: 25em;overflow-y: auto;">

                            <div class="form-group">
              <label class="control-label col-sm-3 customLabel">Group Size:</label>
              <div class="col-sm-9">
                <div id ="ipSelectEveDropDown">
                    <select id="selectWhich" class="form-control customDropDown" name="eventList">
                      <option id="event_select" selected disabled>--select--</option>
                        {{#each groupMemList}}                         
                            <option id="event_select">{{this}}</option>                                
                        {{/each}}
                   
                    </select>
                </div>
              </div>
            </div>
                            <table class="table table table-fixed table-striped tableOFCSVHTML_entryFAca2_backWhite tableOFCSVHTML_entryFAcatableHead" id="tblOne" style="table-layout:fixed;">
						        <tbody class="">
						            <tr class="headerAnalytics3" id="headerAnalytics3">
						            	<td class="headerDetScoreTeam" style="">
						            	</td>
						            	<td class="headerDetScoreTeam" style="">
						            		Match Order
						            	</td>
						            				                
						            </tr>
						            {{#if fetchDetailOrderPlay}}
						            {{#each fetchDetailOrderPlay}}

						            <!--player A-->
						            <tr class="headerAnalytics3" id="headerAnalytics3">	
						            	<td class="matchRowDEtScore" style="width:5%;">
						            		{{slNUM @index}}
						            	</td>

										<td class="matchRowDEtScore" style="width:5%;">
											<input autocomplete="off"  type="text" placeholder="0" style="font-size:12px;width:100%;text-align:center;" value="{{this.matchOrder}}" 
											id="orderSet" name="orderSet">
											
										</td>
						            </tr>
						            {{/each}}			            

						            
						            {{/if}}

						         
						        </tbody>
					    	</table>
                        </div>
                        <div class="modal-footer">
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="height:auto !important;">
                                <p style="font-size:12px;color:red;cursor:default;text-align: left;" id="TeamSpecErrorShow"></p>
                                <p style="font-size:12px;color:green;cursor:default;" id="changePasswordSucc"></p>
                            </div>
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding-right:0px !important;padding-bottom: 4px;">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
                                        <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 ">
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 " style='text-align:center;'>

	                                        <button type="submit" class="ip_button_Popup_Black" id="saveRROrderForm" style="">Set
	                                        </button>

	                                        <button type="button" class="ip_button_Popup_Red" id="cancelRROrderForm" >Cancel
                                            </button>  
	                                                                                              
                                           
                                        </div>
                                        <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>