<template name="teamDrawsCapture">
    <form id="application-teamDrawsCapture">
        <div class="modal" id="teamDrawsCapture" aria-hidden="true">
            <div id="subDomainCenter" class="modal-dialog eventAddTourModal-sm" style="width:400px !important;">
                <div class="eventAddTourPopup" style="width:400px !important;">
                    <div class="modal-content">
                        <div class="modal-header loginHeaderIplayon" style="background-color: #000;">
                            <p class="modal-title loginHeadeIplayonPTag" style="">Team settings and scores
                            </p>
                            <span style="margin: -6px 0px 0px; font-size: 22px; color: white; cursor: pointer;" id="closeTeamPopupIplayonMain">x</span>
                        </div>
                        <div class="modal-body subDomainModalBody" style="padding:15px !important;min-height:5em;">
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding:0px !important">
                                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="padding:0px !important">
                                    <p href="" style="font-size:15px;text-decoration:underline;cursor:pointer;text-align:center;margin:0px;color:green;" id="viewTeamSpecificationRR">Team Specifications</p>
                                </div>
                                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="padding:0px !important">
                                    <p href="" style="font-size:15px;text-decoration:underline;cursor:pointer;text-align:center;margin:0px;color:green;" id="viewDetailedScoreRR">Detailed Scores</p>
                                </div>
                            </div>
                            <div class="container col-md-12 col-xs-12 col-lg-12 col-sm-12" style="height:1.5em !important;">
                                <p style="font-size:12px;color:red;cursor:default;" id="editSettingsPopupError"></p>
                                <p style="font-size:12px;color:green;cursor:default;" id="changePasswordSucc"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>