

@font-face{font-family:'PloverBlack';
src:url(../fonts/PloverBlack-Italic.otf);
src:url(../fonts/PloverBlack-Italic.svg);
src:url(../fonts/PloverBlack-Italic.ttf);
src:url(../fonts/PloverBlack-Italic.woff);

}


body{
margin:0px;
padding:0px;
}

.headder{
	width:100%;
	height:auto;
	float:left;
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom:1px solid #6e7a80;
	min-height:10px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:25px;
}

.mainn_div{
	width:94%;
	height:auto;
	float:left;
	margin-left:3%;
}

.logo_holder{
	float:left;
	/*width:11%;*/
	height:auto;
	width:100%;/*new*/
}

.logo_holder img{
	/*width:100%;*/
	float:left;
	height: 112px;/*new*/
}

.left_add{
	/*width:23%;*/
	float:left;
	height:auto;
	/*border: 1px solid #835c0a;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.left_add img{
	width:100%;
	float:left;
}

.center_div{
	float: left;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
    width: 48%;
	
}

.center_div img{
	width:100%;
	float:left;
}

.inner_box_left{
	width:47%;
	height:auto;
	float:left;
	background-color: rgba(0, 0, 0, 0.5);
	border:1px solid #835c0a;
	min-height:50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top:25px;
}

.inner_box_right{
	width:47%;
	height:auto;
	float:left;
	background-color: rgba(0, 0, 0, 0.5);
	border:1px solid #835c0a;
	min-height:50px;
	margin-left:6%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top:25px;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
}

.inner_box_left img{
	width:60%;
	margin-left:20%;
	margin-top:28.5%;
	float:left;
	margin-bottom:28.5%;
}

.login_h{
	font-family:'PloverBlack';
	color:#f05a29;
	font-size:34px;
	text-transform:uppercase;
	letter-spacing:4px;
	width:100%;
	text-align:center;
	margin-top:0px;
	margin-bottom:10px;
}

.login_h span:after{
	background: rgba(0, 0, 0, 0) url("../images/bg-txt.png") repeat scroll 0 0;
    content: "";
    height: 9px;
    margin-left: 5px;
    margin-top: 16px;
    position: absolute;
    width: 52px;
}

.login_h span:before{
	background: rgba(0, 0, 0, 0) url("../images/bg-txt.png") repeat scroll 0 0;
    content: "";
    height: 9px;
    margin-left: -56px;
    margin-top: 16px;
    position: absolute;
    width: 52px;
}

.my_input{
	float:left;
	width:100%;
	height:35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left:10px;
	background:transparent;
	border:1px solid #f7a11f;
	color:#f05a29;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	font-style:italic;
}

.login_btn{
	float:right;
	width:140px;
	padding-top:5px;
	padding-bottom:5px;
	background:#f26522;
	border:none;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	color:#fff;
}

.login_btn:hover{
	color:#000;
	cursor:pointer;
	background:#f7931e;
}

.link_a{
	float:right;
	width:140px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#f26522;
	text-decoration:none;
	font-style:italic;
	margin-top:5px;
}

.link_a:hover{
	color:#f7a11f;
}

.line{
	width:100%;
	height:1px;
	float:left;
	background:#575757;
	margin-top:10px;
	margin-bottom:10px;
}

.bottom_p{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#f26522;
	text-decoration:none;
	float:left;
	margin:0px;
}

.rg_link{
	color:#f7a11f;
	text-decoration:none;
}

.rg_link:hover{
	color:#fff;
}

.adjust_div{
	width:100%;
	height:12px;
	float:left;
}

.bottom_h1{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px!important;
	font-family:'PloverBlack';
	color:#f05a29;
	margin-bottom:5px;
}

.bottom_h1 span:after{
	background: rgba(0, 0, 0, 0) url("../images/bg-txt.png") repeat scroll 0 0;
    content: "";
    height: 9px;
    margin-left: 8px;
    margin-top: 16px;
    position: absolute;
    width: 95px;
}

.bottom_h1 span:before{
	background: rgba(0, 0, 0, 0) url("../images/bg-txt.png") repeat scroll 0 0;
    content: "";
    height: 9px;
    margin-left: -100px;
    margin-top: 16px;
    position: absolute;
    width: 95px;
}

.bottom_h2{
	width:100%;
	float:left;
	text-align:center;
	font-size:18px!important;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	margin:0px;
	font-weight:normal;
	
}

.last_p{
	width:100%;
	float:left;
	text-align:center;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	margin:0px;
	font-weight:normal;
}

.footer{
	width:100%;
	float:left;
	background:#000;
	min-height:20px;
	padding-top:15px;
	padding-bottom:15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top:30px;
}

.footer_p{
	width:100%;
	float:left;
	text-align:left;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#8b8b8b;
	margin:0px;
	font-weight:500;
}

.footer_mail{
	text-decoration:none;
	color:#8b8b8b;
}

.footer_mail:hover{
	text-decoration:underline;
}

.social_holder{
	float:right;
	width:30%;
	height:auto;
}

.twitter{
	width:20px;
	height:20px;
	float:right;
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll -54px -4px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.twitter:hover{
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll -54px -25px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
/*
.in{
	width:20px;
	height:20px;
	float:right;
	margin-right:10px;
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll -21px -4px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}*/

.in:hover{
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll -21px -25px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.fb{
	width:20px;
	height:20px;
	float:right;
	margin-right:2px;
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll 0px -4px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.fb:hover{
	background: rgba(0, 0, 0, 0) url("../images/social.png") repeat scroll 0px -25px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.hdp{
	float:right;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	margin:0px;
	font-weight:500;
	margin-right:10px;
}

@media only screen and (min-width:1800px) and (max-width:2500px) {
	
.inner_box_left img{
	width:60%;
	margin-left:20%;
	margin-top:29.9%;
	float:left;
	margin-bottom:29.9%;
}	

.login_h {
    color: #f05a29;
    font-family: "PloverBlack";
    font-size: 34px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}



.frm_head {
    color: #00a7af;
    font-family: "One Stroke Script";
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.my_input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f7a11f;
    box-sizing: border-box;
    color: #f05a29;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-style: italic;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
}

.line {
    background: #575757 none repeat scroll 0 0;
    float: left;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.adjust_div {
    float: left;
    height: 45px;
    width: 100%;
}

.footer{
	position:absolute;
	bottom:0px;
}

.bottom_h2{
	margin-top:15px;
}
	
	
}